/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden; 
}
body {
    min-height: 100vh;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FBFC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    text-align: center;
}

.info {
    margin-top: 2rem;
}

.info h2 {
    margin-bottom: 1rem;
}

.container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

input[type=text] {
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
}

.error {
    display: none;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 5px;
    background-color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: s;
}

button {
    min-width: 2rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: rgb(62, 76, 117);
    color: rgb(255, 255, 255);
    padding: 0.65rem 1rem;
    border-radius: 3px;
}

button:hover {
    border: none;
    cursor: pointer;
    background-color: rgba(62, 76, 117, 0.8);
}

.weather-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
    max-width: 25rem;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.information-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary-information-container {
    display: flex;
    flex-direction: column;
    }

.temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.temp-container img {
    margin-right: 1rem;
}

span {
    font-size: 4rem;
    font-weight: 700;
    text-align: top;
}

.temp {
    display: flex;
    flex: row ;
    align-items: flex-start;
}

.temperature {
    align-self: flex-start;
    margin-top:1rem;
    margin-left: 0.3rem;    
    font-size: 1rem;
}
.temperature a {
    text-decoration: none;
    color: black;
}

.weather {
    margin-bottom: 0.5rem;
}


#overlay {
    display: none;
    /* display: flex; */
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(60, 60, 60, 0.5);
    }

p.overlay-message {
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
}


i.fa {
    color: white;
    font-size:6rem;
    margin-bottom: 2rem;
}

/* Footer */
.attribution {
    text-align: center;
    width: 100%;
    padding-bottom: 0.3rem;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
}



.attribution a {
    margin-left: 0.3rem;
}